$color-bg: #3B3936;
$color-atenction: #BD2A2E;
$color-text: #B2BEBF;
$color-grnl: #889C9B;
$color-grnb: #667859;

.meio,
body {
    background-color: $color-bg;
    color: $color-text;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;

}


main {
    justify-self: center;
    align-self: center;

    padding: 20px 10%;

    // border: 1px solid red;
    width: 100%;
    min-height:200px;

    display: flex;
    flex-direction: column;
}
